# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.First Demo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Admin\Documents\Uni\05Semester\Unity\First Demo\.idea\.idea.First Demo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
